/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .navPusher {
        min-height: calc(100vh - 74px);
        padding-top: 74px;
    }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.fixedHeaderContainer, .nav-footer {
    background: $secondaryColor;
}

.toc .toggleNav ul li a:hover  {
    text-decoration: none;
}

.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover {
    background: none;
    color: $primaryColor;
    text-decoration: none;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    background: none;
}

.mainContainer a:hover, .onPageNav a:hover {
    text-decoration: underline;
}

.fixedHeaderContainer header {
    padding: 12px 0px;
}

.fixedHeaderContainer header .headerTitleWithLogo {
    margin-top: 6.5px;
    margin-left: -5px;
    font-weight: 400;
    opacity: 0.7;
}


.productShowcaseSection .users .imageAlignTop .blockImage {
    max-width: 100%;
}

.productShowcaseSection .users img {
    max-height: 150px;
    width: 150px;
}

.productShowcaseSection .users .blockElement h2 {
    display: none;
}

.homeSplashFade img {
    margin: 40px 0px 20px 0px;
}

.promoRow .button{
    background: $primaryColor;
    color:white;
}

.mainContainer {
    padding: 0px;
}

#particle-canvas {
    position: absolute;
    width: 100%;
    height: 32em;
}

.homeContainer h2, .mainContainer h2 {
    color: $secondaryColor !important;
}

h2.section-title {
    font-size:30px;
}

.homeContainer .homeWrapper {
    padding: 8em 10px;
}
.splashDescription {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.getting-started.paddingTop {
    padding-top: 20px;
}

.getting-started.paddingTop h2 {
    margin-top: 20px;
}
