/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --ifm-color-primary: #2762ff;
  --ifm-color-primary-dark: #0a4dff;
  --ifm-color-primary-darker: #0044fa;
  --ifm-color-primary-darkest: #0038ce;
  --ifm-color-primary-light: #4477ff;
  --ifm-color-primary-lighter: #5382ff;
  --ifm-color-primary-lightest: #7fa2ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ffc113;
  --ifm-color-primary-dark: #f7b600;
  --ifm-color-primary-darker: #e9ac00;
  --ifm-color-primary-darkest: #c08d00;
  --ifm-color-primary-light: #ffc82e;
  --ifm-color-primary-lighter: #ffcc3c;
  --ifm-color-primary-lightest: #ffd765;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.theme-doc-breadcrumbs {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  margin-left: 6px !important;
}

.table-of-contents {
  margin-top: 1rem !important;
}

.theme-doc-sidebar-menu {
  margin-top: 1rem !important;
}

.theme-doc-markdown {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

h1 {
  font-size: 32px !important;
}

h2 {
  font-size: 24px !important;
}
